
.default-canvas-container{
    width: 95%;
    height:29rem;
    touch-action: none;
}
.default-canvas{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: solid .1rem #fff;
    border-radius: .2rem;
    box-shadow: 0rem 0rem 1.2rem black;
}