.default-modal-backdrop{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    /*animation: backdrop-in-transition .3s ease forwards;*/
}
.default-backdrop-leave{
    animation: backdrop-leave-transition .3s ease forwards;
}

@keyframes backdrop-in-transition{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@keyframes backdrop-leave-transition{
    0%{
        background-color: rgba(0, 0, 0, 0.5);
    }
    100%{
        background-color:rgba(0, 0, 0, 0);
    }
}

.default-modal-content{
    position: relative;
    padding: .5rem;
    padding-top: 2.5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    /*animation: content-in-transition .3s ease forwards;*/
}

@keyframes content-in-transition{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes content-leave-transition{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}
.default-modal-leave{
    animation: content-leave-transition .3s ease forwards;
}


.default-modal-close{
    position: absolute;
    right: .5rem;
    top: .35rem;
    width: 1.7rem;
    cursor: pointer;
}

.default-modal-close>svg{
    pointer-events: none;
}