.btn {
    outline: none;
    border: none;
    background: var(--blue-gradient);
    width: 100%;
    height: 3.2rem;
    border-radius: 999px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}

.orange {
    background: var(--orange-gradient);
}

.vert {
    background: var(--green-gradient);
}

.btn-oui {
    width: 4rem;
    height: 2rem;
    background: none;
    background-color: #2b62cc;
}

.btn-non {
    width: 4rem;
    height: 2rem;
    background: none;
    background-color: #eb5757;
}

.btn-circle {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.btn-question-mark {
    position: relative;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 50%;
    background: radial-gradient(
        ellipse at center,
        rgba(255, 113, 12, 0) 57%,
        #ffffff 43%
    );
}

.q-mark-img {
    width: 1.3rem;
}

.btn-blue {
    border: 0;
    border-radius: 50%;
    background: #2b62cc;
}

.word-btn {
    border: 0;
    border-radius: 999px;
    background: #2b62cc;
    font-size: 1.6rem;
    padding: 0.5rem 0.8rem;
    min-width: 10rem;
    color: #fff;
    cursor: pointer;
    transition: all ease .3s;
}
.word-btn:hover {
    transition: all ease 0.3s;
    transform: scale(1.05);
}

.word-btn:active {
    background: #204aa0;
}

.btn-settings {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.gear-img {
    width: 2.1rem;
    height: 2.1rem;
}

.btn-qmark {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
