.default-text-input{
    background-color: transparent;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.5rem;
    max-width: 100%;
}

.default-text-input::placeholder{
    color: rgb(255, 255, 255, 0.5);
}