
.default-textbox {
    width: 100%;
    height: 5rem;
    background: var(--blue-gradient);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}