.waiting-room-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.8rem;
}
 
 .start-button{
    width:20rem;
    margin: 0 auto;
    position: absolute;
    bottom: .5rem;
} 

/* .access-code {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 999px;
    background: #2B62CC;
    width: 9rem;
    height: 3.5rem;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 0.8rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    
}

.sous-mot-code {
    font-size: 16px;
    font-weight: 400;
} */
