.popup-choose-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .7rem;
}

.popup-choose-avatar h1{
    font-size: 1.6rem;
    padding-bottom: .5rem;
}

.popup-choose-avatar-avatars{
    display: flex;
    flex-wrap: wrap;
    max-width: 20rem;
    gap: .5rem;
}