.join-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    padding: 0.5rem;
}

.join-popup-img {
    margin-top: -2.5rem;
    width: 10rem;
    height: 10rem;
}
.join-popup-img > img {
    max-width: 100%;
}

.join-popup-joindre{
    min-width: 100%;
    margin: 3rem 0 2rem;
}