.game-user-avatar {
    position: relative;
    border-radius: 50%;
    background-color: red;
    width: 2rem;
    height: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-avatar-badge{
    position: absolute;
    top: -.5rem;
    right: -.4rem;
    color: #000;
}
