.default-confirm-quit { 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70vw;
    padding: .5rem;
}

.confirm-quit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

}