.default-landing{
    justify-content: center;
}

.default-landing-question-mark{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.default-landing-img-wrapper{
    cursor: pointer;
    width: 20rem;
}
.default-landing-img-wrapper > img{
    width:100%;
    pointer-events: none;
}

.default-landing-puppy-img {
    pointer-events: none;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 12rem;
}
.default-landing-puppy-img > img {
    width: 100%;
}