.counter-time {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: translate(1px, -2.5px);
}

.circle-counter {
    position: relative;
    background-color: var(--blue);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}