.default-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding: .5rem .5rem;
    z-index: 1;
}