.default-background{
    /* (-)left-right(+)  ---  (-)up-down(+) */
    --landing-position: -410px, -200px;
    --attente-position: 180px, -400px;
    --other-position: 180px, -400px;
}

.default-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #9c9c9c 0%, rgba(255, 255, 255, 0) 100%),
        #737373;
    background-image: url("../../../imgs/bg/greyBG4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -100;
}
.default-background-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.default-background-inner > .circle{
    position: relative;
    height: min(150vh, 60.75rem);
    width: min(180vw, 45rem);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -.1em .2em 2em black;
}

.default-background-inner .scribble {
    position: absolute;
    width: 6em;
}

.default-background-inner .scribble img {
    max-width: 100%;
}

.shadowed {
  -webkit-filter: drop-shadow(7px 7px 3px #000);
  filter: drop-shadow(7px 7px 3px #000);
}

.trible{
    opacity: 0.8;
    width: 5rem;
}

.mountain{
    opacity: 0.6;
}

.moon-camping{
    opacity: 0.7;
}

.jar{
    opacity: 0.6;
    width: 5rem;
}

.camping-trees{
    opacity: 0.6;
}

.paperplane{
    opacity: 0.6;
}

.space-bulb{
    opacity: 0.7;
}

.hot-air-balloon{
    opacity: 0.9;
}

.RV{
    opacity: 0.8;
}

.camp{
    opacity: 0.7;
}

.bulb{
    opacity: 0.8;
}