.default-footer{
    position: absolute;
    top: max(calc(100% - 5rem), 30rem);
    left: 0;
    right: 0;
    height: var(--footer-height);
    background-color: transparent;
}

.access-code {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 999px;
    background: #2B62CC;
    width: 9rem;
    height: 3.5rem;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 0.8rem;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 1.1rem;
    left: 50%;
    transform: translate(-50%);
}

.sous-mot-code {
    font-size: 16px;
    font-weight: 400;
}