:root {
    --header-height: 5rem;
    --footer-height: 5rem;
    --orange: #f2994a;
    --blue-gradient: linear-gradient(90deg, #2f80ed 0%, #2d9cdb 100%);
    --green-gradient: linear-gradient(90deg, #219653 0%, #27ae60 100%);
    --orange-gradient: linear-gradient(270deg, #f0811f 0%, #f2994a 100%);
    --player-name-gradient-green: linear-gradient(270deg,  #4fa1d1  0%,#6fdb9e 90%);
    --player-name-gradient-purple: linear-gradient(270deg, #4fa1d1 0%, #ce7aec 100%);
    --player-name-gradient-blue: linear-gradient(270deg, #73abcc 0%, #56CCF2 100%);
    --player-name-gradient-yellow: linear-gradient(270deg, #fac635 0%, #f2c94c 100%);
    --player-name-gradient-pink: linear-gradient(270deg, #f539dc 0%, #e68ae6 100%);
    --player-name-gradient-orange: linear-gradient(270deg, #ff9810 0%, #eea95a 100%);
    --player-name-gradient-red: linear-gradient(270deg, #fd6666 0%, #f83737 100%);


    --blue: #2b62cc;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
