.user-display {
    position: relative;
    width: 20rem;
    height: 3rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    box-shadow: .1rem .1rem .3rem #000;
}

.avatar-name-div {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: .2rem;
    margin-left: .3rem;
}

.user-display-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid 0;
    margin: 0 0.7rem;
}

.user-display-player-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;

    color: #000000;
}

.user-display-kick-btn {
    width: 2.8rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: solid 0;
    margin-right: 1rem;
    background-color: #EB5757;
    color: #fff;
    cursor: pointer;
}

.white-box-points {
    background-color: white;
    position: relative;
    margin-top: 0.5rem;
    margin-right: 0.2rem;
    width: 13rem;
    height: 2.7rem;
    border-radius: 2rem;
    align-items: center;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 0.5rem;
    
}

.user-resultat-points {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.4rem;
    text-align: center;
}



.user-display-kick-btn:active {
    background-color:peru;
    outline: none;
}

.user-display-kick-btn:hover {
    background-color: orange;
    outline: none;
}
/* FOR TESTING PURPOSES */

.blue-avatar {
    background: var(--player-name-gradient-blue);
}
.green-avatar {
    background: var(--player-name-gradient-green);
}
.purple-avatar {
    background: var(--player-name-gradient-purple);
}
.yellow-avatar {
    background: var(--player-name-gradient-yellow);
}
.pink-avatar {
    background: var(--player-name-gradient-pink);
}
.orange-avatar {
    background: var(--player-name-gradient-orange);
}
.red-avatar {
    background: var(--player-name-gradient-red);
}

.blue-avatar-cercle {
    background: var(--player-name-gradient-blue);
    border-radius: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.green-avatar-cercle {
    background: var(--player-name-gradient-green);
    border-radius: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.purple-avatar-cercle {
    background: var(--player-name-gradient-purple);
    border-radius: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.yellow-avatar-cercle {
    background: var(--player-name-gradient-yellow);
    border-radius: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.pink-avatar-cercle {
    background: var(--player-name-gradient-pink);
    border-radius: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.orange-avatar-cercle {
    background: var(--player-name-gradient-orange);
    border-radius: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.red-avatar-cercle {
    background: var(--player-name-gradient-red);
    border-radius: 2rem;
    width: 2.2rem;
    height: 2.2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4rem;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
    
   
